---
// Components
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'

// Layouts
import Layout from '@/layouts/Layout.astro'

// Utils & Data
import { Image } from 'astro:assets'
import infinullImage from '/public/static/common/infinull-paperframe.png'
import profileImage from '/public/static/common/profile.png'

// Data
const age = new Date().getFullYear() - 2002

// Constants
const zohoUrl = 'https://www.zoho.com'
---

<!-- OUTLINE (basically it should be a ME page)
  - Hero Section With SubSection and text
  - Image Gallery of Me (bento box style)
-->
<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />
  <div class="about-page flex flex-col gap-y-8">
    <!-- Header section with profile photos -->
    <section
      class="bg-grid-pattern flex flex-col items-center gap-6 p-6 pb-0 text-center"
    >
      <div class="relative flex items-center justify-center">
        <!-- My Profile -->
        <div
          class="group relative z-0 -rotate-2 transition-transform duration-300 hover:scale-105 hover:rotate-[-4deg]"
        >
          <Image
            src={profileImage}
            alt="Sedhu Madhav"
            class="group-hover:shadow-foreground/15 relative block h-auto w-48 shadow-lg transition-shadow duration-300 group-hover:shadow-xl"
          />
          <p
            class="font-caveat text-foreground dark:text-background text-md absolute -bottom-[-0.5em] left-1/2 -translate-x-1/2 whitespace-nowrap"
          >
            me again :)
          </p>
        </div>
        <!-- Infinull Profile -->
        <div
          class="group relative z-10 -ml-8 rotate-2 transition-transform duration-300 hover:scale-105 hover:rotate-4"
        >
          <Image
            src={infinullImage}
            alt="Infinull logo"
            class="group-hover:shadow-foreground/15 relative block h-auto w-32 translate-y-14 shadow-lg transition-shadow duration-300 group-hover:shadow-xl"
          />
          <p
            class="font-caveat text-foreground dark:text-background absolute -bottom-[4.25em] left-1/2 -translate-x-1/2 text-xs whitespace-nowrap"
          >
            the other me
          </p>
        </div>
      </div>
      <h1 class="font-bon-vivant pt-4 text-8xl font-bold">
        who's <br />
        <span class="text-accent -mt-10 block font-sans text-7xl font-black"
          >Kangsudar?</span
        >
      </h1>
    </section>

    <!-- About Me Section -->
    <section>
      <div>
        <p class="prose prose-sm text-muted-foreground max-w-none">
          Perkenalkan Nama saya <span class="bold text-foreground">Sudarmanto</span> dengan panggilan Kangsudar,
          saya tinggal di pelosok desa di daerah lamongan yaitu Desa Kedungmentawar Kecamatan Ngimbang, Kabupaten Lamongan. Desa saya ini terletak di perbatasan Lamongan Jombang jadi kalau mau ke mana - mana atau mau beli apa lebih cepat ke jombang daripada lamongan kota.
        </p>
        <p class="prose prose-sm text-muted-foreground max-w-none pt-4">
          Situs ini berisi informasi tentang saya, tulisan, opini dan kebanyakan adalah dokumentasi untuk saya pribadi ketika sedang belajar atau membagikan sesuatu. Untuk mendapatkan informasi yang sifatnya cepat.
        </p>
      </div>
    </section>

<!-- Skills Section -->
    <section>
      <h2 class="font-bon-vivant text-accent mb-4 text-5xl font-semibold">
        Mengenal, <span class="text-foreground font-sans text-4xl">Blogger</span>
      </h2>

      <p class="prose prose-sm text-muted-foreground max-w-3xl leading-relaxed">
        Tentu bagi kalian blogger itu apa, gunanya buat apa dan bisa mendapatkan uang dari blogger, bagi orang awam mungkin platfrom blogger ini tidak lah berguna amat di kalian, beda kalau kalian sudah terjun di dunia blogger ini tentu blogger adalah sebuah platfrom ngeblog yang di sediakan oleh google bagi blog pemula.
      </p>

    </section>

    <!-- Skills Section -->
    <section>
      <h2 class="font-bon-vivant text-accent mb-4 text-5xl font-semibold">
        skills, <span class="text-foreground font-sans text-4xl">you ask?</span>
      </h2>

      <p class="prose prose-sm text-muted-foreground max-w-3xl leading-relaxed">
        I primarily work on web projects, focusing on the backend — APIs, Logic,
        DBs and stuff. Every now and then, I start messing around with frontend
        too, crafting sites that I find cool — like this one.
      </p>
    </section>

    <!-- Interests Section -->
    <section>
      <h2 class="text-accent font-bon-vivant mb-4 text-6xl font-semibold">
        <span class="relative -top-1 inline-block">hobbies</span>
        <span class="text-foreground font-sans text-4xl">& stuff</span>
      </h2>

      <p class="text-muted-foreground max-w-3xl leading-relaxed">
        Hobi saya suka main games, baca buku, nulis di blog, otak atik kode dan suka travelling, hobi yang menyenangkan adalah travelling.
      </p>
    </section>
  </div>
</Layout>
