---
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class="font-pp-editorial-new mt-16 pt-12">
  <div
    class="mx-auto mb-8 flex max-w-screen-md flex-col items-center justify-center gap-2 text-center sm:mb-6"
  >
    <p class="text-muted-foreground">
      &copy; 2020 -  {new Date().getFullYear()} ・ Crafted with <span
        class="text-accent">🤍</span
      > by <Link href="/about" class="text-accent transition-colors" underline
        >sudar</Link
      >
    </p>
    <div class="mt-2">
      <SocialIcons links={SOCIAL_LINKS} />
    </div>
  </div>

  <div class="m-0 p-0">
    <!-- footer infinull typography -->
    <div
      class="text-accent pointer-events-none m-0 mx-auto max-w-screen-md p-0 text-center leading-none font-bold whitespace-nowrap select-none"
      style="font-size: clamp(0rem, 26vw, 12.4rem); transform: translateY(10%);"
    >
      masdar
    </div>
  </div>
  <div class="w-full px-2">
    <!-- footer bar code svg -->
    <svg
      width="1422"
      height="87"
      viewBox="0 214 1422 87"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="h-auto w-full"
    >
      <path
        d="M0.753052 301H48.2848L48.5317 214.445H1L0.753052 301ZM81.953 301H707.788V214.692L82.1999 214.445L81.953 301ZM756.903 214.742C756.704 214.938 756.556 252.5 756.556 252.5L756.309 301H768.688V214.692L762.943 214.543C759.824 214.493 757.102 214.594 756.903 214.742ZM794.435 301H818.2L818.447 214.445H794.681L794.435 301ZM844.54 214.79C844.341 214.938 844.192 262 844.192 262L843.945 301H899.4L899.647 214.445H872.266C857.165 214.445 844.688 214.593 844.54 214.79ZM925.739 214.742C925.542 214.938 925.394 268 925.394 268L925.147 301H937.524V214.692L931.781 214.543C928.661 214.493 925.938 214.594 925.739 214.742ZM963.271 301H1018.72L1018.72 214.692L991.145 214.543L963.518 214.445L963.271 301ZM1044.47 301H1179.64L1179.64 214.692L1044.72 214.445L1044.47 301ZM1286.58 301H1421.75V214.692L1286.83 214.445L1286.58 301Z"
        fill="var(--accent)"
        opacity="1"></path>
    </svg>
  </div>
</footer>
